<h1>Listing twitter_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitter_users.each do |twitter_user| %>
  <tr>
    <td><%= twitter_user.user_id %></td>
    <td><%= twitter_user.name %></td>
    <td><%= link_to 'Show', twitter_user %></td>
    <td><%= link_to 'Edit', edit_twitter_user_path(twitter_user) %></td>
    <td><%= link_to 'Destroy', twitter_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter user', new_twitter_user_path %>
