<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @twitter_user.name %>
</p>
<p>
  <b>Last twit:</b>
  <%= @twit %>
</p>


<%= link_to 'Edit', edit_twitter_user_path(@twitter_user) %> |
<%= link_to 'Back', twitter_users_path %>
